<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Users\smdsh\source\repos\2024-06-17 Bookstore Backend\Bookstore\Logs\nlog-internal.log"
      internalLogLevel="Info">

	<targets>
		<target xsi:type="File" name="file" fileName="C:\Users\smdsh\source\repos\2024-06-17 Bookstore Backend\Bookstore\Logs\nlog-${shortdate}.log"
				layout="${longdate} ${logger} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
